/* ------------------ #hero ------------------- */

.logo {
  height: 150px;
  width: 150px;
}

/* vertically center main text */
.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  margin-top: 1em;
}

/* vertically center book cover img within this */
.main-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cool image animation */
.example-quiz {
  padding: 2rem !important;
  backdrop-filter: none !important;

  width: 400px;
  min-width: 300px;
  transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(1deg);
  box-shadow: 2em 4em 6em -2em rgba(0, 0, 0, 0.5), 1em 2em 3.5em -2.5em rgba(0, 0, 0, 0.5);
  transition: transform 1s ease, box-shadow 1s ease;

  &:hover {
    transform: rotate3d(0, 0, 0, 0deg) rotate(0deg);
  }
}

@media (max-width: 1400px) {
  .display-1 {
    font-size: 4em;
  }
}

@media (max-width: 1200px) {
  .display-1 {
    font-size: 3.5em;
  }
}

@media (max-width: 991px) {
  .main-text {
    margin-right: 0;
    margin-bottom: 2em;
  }

  .main-img {
    display: block;
    height: auto;
  }

  /* if on mobile, don't tilt */
  .example-quiz {
    width: 100%;
    transform: none;
    box-shadow: none;
  }
}

/* ----------------- #cards ------------------- */

#cards {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.landing__all-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.landing__card {
  font-size: 1.1rem;
  text-align: center;
  grid-template-rows: 50% 50%;
  padding: 2rem;
  background-color: var(--card-background);
  border: 2px solid var(--font);
  border-radius: 10px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.landing__card-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 991px) {
  .landing__all-cards {
    grid-template-columns: 1fr;
  }
}
