:root {
  --bg-main: radial-gradient(
      circle at 40% 91%,
      rgba(251, 251, 251, 0.04) 0%,
      rgba(251, 251, 251, 0.04) 50%,
      rgba(229, 229, 229, 0.04) 50%,
      rgba(229, 229, 229, 0.04) 100%
    ),
    radial-gradient(
      circle at 66% 97%,
      rgba(36, 36, 36, 0.04) 0%,
      rgba(36, 36, 36, 0.04) 50%,
      rgba(46, 46, 46, 0.04) 50%,
      rgba(46, 46, 46, 0.04) 100%
    ),
    radial-gradient(
      circle at 86% 7%,
      rgba(40, 40, 40, 0.04) 0%,
      rgba(40, 40, 40, 0.04) 50%,
      rgba(200, 200, 200, 0.04) 50%,
      rgba(200, 200, 200, 0.04) 100%
    ),
    radial-gradient(
      circle at 15% 16%,
      rgba(99, 99, 99, 0.04) 0%,
      rgba(99, 99, 99, 0.04) 50%,
      rgba(45, 45, 45, 0.04) 50%,
      rgba(45, 45, 45, 0.04) 100%
    ),
    radial-gradient(
      circle at 75% 99%,
      rgba(243, 243, 243, 0.04) 0%,
      rgba(243, 243, 243, 0.04) 50%,
      rgba(37, 37, 37, 0.04) 50%,
      rgba(37, 37, 37, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(34, 222, 237), rgb(135, 89, 215));

  --bg-dark: radial-gradient(circle at center center, transparent, rgb(0, 0, 0)),
    linear-gradient(
      114deg,
      rgba(59, 59, 59, 0.05) 0%,
      rgba(59, 59, 59, 0.05) 50%,
      rgba(63, 63, 63, 0.05) 50%,
      rgba(63, 63, 63, 0.05) 100%
    ),
    linear-gradient(
      186deg,
      rgba(173, 173, 173, 0.05) 0%,
      rgba(173, 173, 173, 0.05) 50%,
      rgba(237, 237, 237, 0.05) 50%,
      rgba(237, 237, 237, 0.05) 100%
    ),
    linear-gradient(
      98deg,
      rgba(191, 191, 191, 0.05) 0%,
      rgba(191, 191, 191, 0.05) 50%,
      rgba(119, 119, 119, 0.05) 50%,
      rgba(119, 119, 119, 0.05) 100%
    ),
    linear-gradient(
      58deg,
      rgba(95, 95, 95, 0.05) 0%,
      rgba(95, 95, 95, 0.05) 50%,
      rgba(189, 189, 189, 0.05) 50%,
      rgba(189, 189, 189, 0.05) 100%
    ),
    linear-gradient(
      259deg,
      rgba(31, 31, 31, 0.05) 0%,
      rgba(31, 31, 31, 0.05) 50%,
      rgba(110, 110, 110, 0.05) 50%,
      rgba(110, 110, 110, 0.05) 100%
    ),
    linear-gradient(
      41deg,
      rgba(142, 142, 142, 0.05) 0%,
      rgba(142, 142, 142, 0.05) 50%,
      rgba(84, 84, 84, 0.05) 50%,
      rgba(84, 84, 84, 0.05) 100%
    ),
    linear-gradient(
      134deg,
      rgba(96, 96, 96, 0.05) 0%,
      rgba(96, 96, 96, 0.05) 50%,
      rgba(198, 198, 198, 0.05) 50%,
      rgba(198, 198, 198, 0.05) 100%
    ),
    linear-gradient(
      46deg,
      rgba(12, 12, 12, 0.05) 0%,
      rgba(12, 12, 12, 0.05) 50%,
      rgba(71, 71, 71, 0.05) 50%,
      rgba(71, 71, 71, 0.05) 100%
    ),
    radial-gradient(circle at center center, hsl(227, 81%, 21%), hsl(227, 81%, 21%));

  --bg-white: #f0f0f0;
  --bg-black: #000000;
}
