@import url(backgrounds.css);

/* light color theme base */
:root,
[data-theme="main"] {
  --background: var(--bg-main);

  --primary: #008a83;
  --secondary: #00718a;
  --code: #00524e;

  --font: black;
  --font-opp: white;
  --font-muted: #5f5f5f;
  --font-placeholder: #8d8d8d;

  --card-background: rgba(255, 255, 255, 0.5);
  --card-hover: rgba(255, 255, 255, 0.7);

  --scroll-track: #e5e5e5;
  --scroll-thumb: #c4c4c4;
  --scroll-thumb-hover: #a3a3a3;
  --scroll-thumb-active: #848484;
}

/* dark color theme base */
[data-theme="dark"],
[data-theme="black"] {
  --background: var(--bg-dark);

  --primary: #00538a;
  --secondary: #00718a;
  --code: #00bdb3;

  --font: white;
  --font-opp: black;
  --font-muted: #949494;
  --font-placeholder: #3a3a3a;

  --card-background: rgba(0, 0, 0, 0.5);
  --card-hover: rgba(0, 0, 0, 0.7);

  --scroll-track: #3a3a3a;
  --scroll-thumb: #5f5f5f;
  --scroll-thumb-hover: #7f7f7f;
  --scroll-thumb-active: #9f9f9f;
}

/* custom backgrounds */
[data-theme="white"] {
  --background: var(--bg-white);
}
[data-theme="black"] {
  --background: var(--bg-black);
}

/* use black site logo on light theme */
:root img[src*="white"],
[data-theme="main"] img[src*="white"],
[data-theme="white"] img[src*="white"] {
  display: none;
}

/* use white site logo on dark theme */
[data-theme="dark"] img[src*="black"],
[data-theme="black"] img[src*="black"] {
  display: none;
}
[data-theme="dark"] img[src*="white"],
[data-theme="black"] img[src*="white"] {
  display: inline;
}
