@import url(colors.css);
@import url(fonts.css);
@import url(forms.css);
@import url(slideIn.css);

/* remove scrollbar on page */
body::-webkit-scrollbar {
  width: 0;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* change navbar transparency on scroll */
.navbar {
  background-color: transparent;
  box-shadow: none;
}
.navbar-scrolled {
  backdrop-filter: blur(20px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.5);
}

body {
  color: black;
  background-attachment: fixed;
  background-image: radial-gradient(
      circle at 40% 91%,
      rgba(251, 251, 251, 0.04) 0%,
      rgba(251, 251, 251, 0.04) 50%,
      rgba(229, 229, 229, 0.04) 50%,
      rgba(229, 229, 229, 0.04) 100%
    ),
    radial-gradient(
      circle at 66% 97%,
      rgba(36, 36, 36, 0.04) 0%,
      rgba(36, 36, 36, 0.04) 50%,
      rgba(46, 46, 46, 0.04) 50%,
      rgba(46, 46, 46, 0.04) 100%
    ),
    radial-gradient(
      circle at 86% 7%,
      rgba(40, 40, 40, 0.04) 0%,
      rgba(40, 40, 40, 0.04) 50%,
      rgba(200, 200, 200, 0.04) 50%,
      rgba(200, 200, 200, 0.04) 100%
    ),
    radial-gradient(
      circle at 15% 16%,
      rgba(99, 99, 99, 0.04) 0%,
      rgba(99, 99, 99, 0.04) 50%,
      rgba(45, 45, 45, 0.04) 50%,
      rgba(45, 45, 45, 0.04) 100%
    ),
    radial-gradient(
      circle at 75% 99%,
      rgba(243, 243, 243, 0.04) 0%,
      rgba(243, 243, 243, 0.04) 50%,
      rgba(37, 37, 37, 0.04) 50%,
      rgba(37, 37, 37, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(34, 222, 237), rgb(135, 89, 215));
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

section {
  margin: 2em;
}

.display-1,
.display-4 {
  margin: 1em auto;
}

.required {
  color: var(--primary-color);
}

.btn {
  transition: 0.5s;
}

.btn-main {
  background-color: var(--primary-color) !important;
  color: white !important;
}
.btn-main:hover {
  background-color: var(--secondary-color) !important;
}

.bg-main {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.normal-row {
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}

.row-of-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.hover-underline {
  position: relative;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}
.hover-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
  transform-origin: bottom left;
}
.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
