@import url(colors.css);
@import url(fonts.css);
@import url(slideIn.css);

/* remove scrollbar on page */
body::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: var(--main-bg);
}

section {
  margin: 2em;
}

.display-1,
.display-4 {
  margin: 1em auto;
}

.required {
  color: var(--primary-color);
}

.btn-main {
  background-color: var(--primary-color) !important;
  color: white !important;
  transition: 0.5s;
}
.btn-main:hover {
  background-color: var(--secondary-color) !important;
}
