@import url(colors.css);
@import url(fonts.css);
@import url(forms.css);
@import url(slideIn.css);

/* remove scrollbar on page */
body::-webkit-scrollbar {
  width: 0;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* change navbar transparency on scroll */
.navbar {
  background-color: transparent;
  box-shadow: none;
}
.navbar-scrolled {
  backdrop-filter: blur(20px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.dropdown-menu {
  background-color: var(--card-background);
}

body {
  color: var(--font);
  background: var(--background);
  background-attachment: fixed;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

section {
  margin: 2em;
}

.display-1,
.display-4 {
  margin: 1em auto;
}

.text-muted {
  color: var(--font-muted) !important;
}

.required {
  color: var(--primary);
}

.btn {
  transition: 0.5s;
}

.btn-main {
  background-color: var(--primary) !important;
  color: white !important;
}
.btn-main:hover {
  background-color: var(--secondary) !important;
}

.bg-main {
  background-color: var(--primary) !important;
  color: white !important;
}

.row {
  padding-bottom: 2rem !important;
}
.normal-row {
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--card-background);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}

.row-of-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.hover-underline {
  position: relative;
  color: inherit;
  text-decoration: none;
}
.hover-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--font);
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
  transform-origin: center;
}
.hover-underline:hover::after {
  transform: scaleX(1);
}
