@import url(colors.css);
@import url(fonts.css);
@import url(slideIn.css);

body {
  background-color: var(--main-bg);
}

section {
  margin: 2em;
}

.display-1,
.display-4 {
  margin: 1em auto;
}

.required {
  color: var(--main-color);
}

.btn-main {
  background-color: var(--main-color) !important;
  color: white !important;
  transition: 0.5s;
}
.btn-main:hover {
  filter: brightness(80%);
}
