.title-part h1 {
  margin-bottom: 0.5em;
}

.searchbar {
  /* text is centered in the input including placeholder */
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 300px;
}

.all-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}
